/* =========================
All admin specific css here
============================*/

.admin-actions h1 {
	text-align: center;
}
label {
	color: #abc234;
}
hr {
	color: #333;
}
input.btn {
	max-width: 200px;
}
input[hidden='1'] {
	display: none;
}
.btn {
	display: initial;
}
#progressbar {
    position: absolute;
    left: 50%;
    top: 65%;
    max-width: 500px;	
    min-width: 500px;	
    -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}#progresstext {
	background-color: rgba(0,0,0,0);
    position: absolute;
    left: 50%;
     top: 50%;
    -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.profilepicbtn {
    position: relative;
    max-width: 350px;
    width: 100%;
}
.profilepicbtn input[type="file"] {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

select#country_select, select#winselect{
	background: #292b35;
	width: 100%;
	color: #cecece;
	padding: 5px;
   	border: 0;
   	font-size: 18px;
	border-radius: 0;
  	height: 46px;
  	padding-left: 15px;
   	-webkit-appearance: none;

}
.center {
	margin: 0 auto;
}
#profilepic {
    position: relative;
}
#misspic {
    position: relative;
}
.profimage {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 50%;
    margin-left: -175px;
}
.missimage {
    position: absolute;
    width: 640px;
    height: 360px;
    left: 50%;
    margin-left: -320px;
}
textarea.input-lg {
	background: #292b35;
	color: #cecece;
}
input#datepicker,input#datepicker_e{
	color: #cecece;
	background: #292b35;
	padding: 5px;
   	border: 0;
   	font-size: 18px;
	border-radius: 0;
  	height: 46px;
  	padding-left: 15px;
   	-webkit-appearance: none;
}

.missiontyperow {
    width: 100%;
    height: 40px;
    background-color: #434957;
    margin-top: 10px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    line-height: 40px;
    padding-left: 10px;
}
.downarrow {
    position: absolute;
    left: 100%;
    top: 40%;
    margin-left: -40px;
}
.uparrow {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.missionsinglerow {
    border-style: solid;
    border-color: #ADC234;
    border-width: 1px 1px 1px 1px;  
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
}

.missiondetailrow {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #434957;
}

.missiondetailcol {
    padding-left: 5px;
    padding-right: 15px;
    word-break: keep-all;
    overflow: hidden;
}

.missionvideos {
    width: 750px;
    height: 300px;
    overflow: scroll;
    border: 1px;
}


