/* 
Default reset
==================================================================================================================
green = #abc234
dark-blue = #292b35
*/

body {
	font: 300 18px/1.5 "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #292b35;
    background-image: url('../img/body-bg.jpg');
    background-repeat: repeat-x;
	color: #fff;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqMdCn';
    src: url('../font/akzidenzgroteskbq-mdcnd-webfont.eot');
    src: url('../font/akzidenzgroteskbq-mdcnd-webfont.eot?#iefix') format('embedded-opentype'), url('../font/akzidenzgroteskbq-mdcnd-webfont.woff') format('woff'), url('../font/akzidenzgroteskbq-mdcnd-webfont.ttf') format('truetype'), url('../font/akzidenzgroteskbq-mdcnd-webfont.svg#akzidenz-grotesk_bqMdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
a, a:hover, a:focus a:visited{
	color: #ADC234;
}
video {
    width: 100%;
    height: auto;
}
h1,h2,h3,h4 {
    font-family: 'akzidenz-grotesk_bqMdCn'; 
    text-transform: uppercase;
}
h1 {
    font-size: 2.7em;
}
h1 small {
    font-size: 0.8em;
    color: #ADC234;
}
h3 {
    font-size: 2em;
}
label {
    font-size: 1.2em;
    font-weight: normal;
}

input[type=radio] {
    width: default;
    max-width: 16px;
}
input[type=checkbox] {
    width: default;
    max-width: 16px;
}
input[type=file], input[type=file]:hover{
    color: #FFFFFF;
    vertical-align: middle;
}
select{
    color: #000000;
}

input,textarea {
    color: #000;
    width: 100%;
    max-width: 100%;
}
del, del a{
    color: #CD554A !important;
}
.success {
    color: #abc234
}

.rules a {
    color: #CCCCCC !important;
}

/* -------- */

/* 
Bootstrap elements
==================================================================================================================
*/

#wrapper .container-fluid {
    max-width: 1280px;
}
.navbar {
    min-height: 80px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    vertical-align: middle;
    line-height: 56px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}
.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #abc234
}
.navbar-default {
    background-color: #31333f;
    border-color: #31333f;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #31333f;
}

.navbar-inverse {
    background-color: #31333f;
    border-color: #31333f;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #434957;
}
.navbar-brand {
    height: 80px;
    padding: 20px;
}
.navbar-brand img {
    width: 145px;
}
.navbar-toggle {
    padding: 16px 16px;
    margin-top: 16px;
    border: none;
    border-radius: 0px;
}
.navbar-default .navbar-toggle:hover {
    background-color: #292b35;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}
.navbar-default .navbar-collapse {
    border: none;
}
.form-control {
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    background: #434957;
    color: #f2f2f2;
}
.page-header {
    border-bottom: 1px solid #31333f;
}
.jumbotron {
	background-color: #31333f;
}
.well {
    background-color: #31333f;
    border: 0;
    box-shadow: none;
}
.alert {
    display:block; 
    clear:both; 
}
.progress-bar-warning {
	background-color: #CD554A;
}
.navbar-right .dropdown-menu {
    right: 9px;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #262626;
}
.dropdown-menu {
    background-color: #31333f;
    margin-left: 9px;
}
.dropdown-menu > li > a {
    color: #fff;
    padding: 6px 20px;
    font-size: 16px;
}
.dropdown-menu > li > a:hover {
    background-color: #292b35;
    color: #fff;
}
.dropdown-menu .divider {
    background: #292b35;
}
.modal-content {
    background: #31333f;
}
.modal-header, .modal-footer {
    border-color: #272832;
}
.modal h3 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 1.8em;
}
.modal-dialog {
    max-width: 850px;
    width: auto;
}
.modal-body {
    padding: 10px 30px;
}
.close {
    text-shadow:none;
    font-size: 31px;
    color: #a7a9ac;
    opacity: 1;
    line-height: 26 px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #31333F;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: none;
}
legend {
    color: #fff;
    border-color: #292b35;
}
.list-group-item {
    background-color: #31333F;
    border-color: #292b35;
}
.list-group-item:hover {
    background-color: #292b35;
    border-color: #292b35;
}
.container {
    max-width: 1280px;
}
/*Buttons*/

.btn {
	border-radius: 2em;
    font-size: 16px;
    padding: 6px 25px 8px 25px;
}

.btn-default {
    background: #272832;
    border-color: #ADC234;
    color: #fff;
}
.btn-default:hover, .btn-default:focus {
    background: #ADC234;
    border-color: #ADC234;
}

.btn-primary {
	background-color: #434957;
	border-color: #434957;
}

.btn-success {
    background-color: #ADC234;
    border-color: #ADC234;
}
.btn-danger {
	background-color: #CD554A;
	border-color: #CD554A;
}

/*
Custom elements
==================================================================================================================
*/

/*video elements*/

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    background: #000;
    border-radius: 6px 6px 0px 0px;
    overflow: hidden;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-bar {
    background: #272832;
    padding: 10px 16px;
    overflow: auto;
    width: 100%;
    line-height: 60px;
    border-radius: 0px 0px 6px 6px;
}
.user-info {float: left;}
.user-info img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
}
.user-info .user-name {
    font-weight: bold;
    color: #acc234;
    margin-left: 10px;
 }
 
.banana-count {
    float: right;
    color: #f5d42a;
	font-size: 33px;
    padding-right: 20px;
}	
	
.banana-count::before {
    content: "\e607";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    margin-right: 5px;                                    
}	

.shit-count {
    float: right;
    color: #874430;
	font-size: 33px;
    padding-right: 20px;
}

.shit-count::before {
    content: "\e608";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
}
.shit-count::after {
    content: "\e608";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
}

.video-side {
    background:#272832 ;
    border-radius: 6px;
}
.comments span {
    color: #ADC234;
    font-weight: bold;
}
/*Faq elements*/
.faqbox {
    background-color: #31333f;
    border-radius: 6px;
    width: 23%;
    margin-left: 2%;
    margin-top: 15px;
    float: left;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    border: 2px solid #31333f;
    transition: all 0.2s ease;
}
.faqbox:hover {
    border: 2px solid #ADC234;
}
.faqbox span {
    font-size: 150px;
    color: #292B35;
    transition: all 0.2s ease;
}
.faqbox:hover span {
    font-size: 150px;
    color: #ADC234;
}
/*mission elements*/
.missionbox {
    width: 31%;
    margin-left: 2%;
    margin-top: 15px;
    float: left;
    text-align: left;
    padding: 0px;
    cursor: pointer;
    background-size: 100% auto;
}
.mission_country {
    background-color: #31333f;
    padding: 30px 20px 20px 20px; 
    border-radius: 6px;
}
.mission_details {
    background-color: #31333f;
    border: 2px solid #31333f;
    border-radius: 6px;
    padding: 5px 20px 20px 20px;
    margin-bottom: 8px;
    position: relative;
    min-height: 140px;
    transition: border 0.2s ease;
    word-wrap: break-word;
}
.mission_details:hover {
    border: 2px solid #abc234;
}
.mission_name h2 {
    margin-bottom: 0px;
}
.mission_ends {
    font-weight: 500;
    font-size: 10px;
    color: #999;
    padding-top: 10px;
}
.mission_flag {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 7px;
    padding-right: 6px;
    height: 32px;
    width: 32px;
    opacity: 0.2;
}

.mission_box_country {
    background-color: #31333f;
    padding: 30px 20px 20px 20px; 
    border-radius: 6px;
}
.mission_box_details {
    background-color: #31333f;
    border-radius: 6px;
    padding: 5px 20px 20px 20px;
    margin-bottom: 0px;
    position: relative;
    min-height: 140px;
    transition: border 0.2s ease;
}
.mission_box_name h2 {
    margin-bottom: 0px;
}
.mission_box_ends {
    font-weight: 500;
    font-size: 10px;
    color: #999;
    padding-top: 10px;
}
.mission_box_flag {
    padding-top: 7px;
    padding-right: 6px;
    height: 32px;
    width: 32px;
    opacity: 0.2;
}
#homemissions {
    background-color: #31333f;
    padding: 0px;
    margin-bottom: 0px;
    height: auto;
    display: block;
    position: relative;
    overflow: auto;
    min-height: 90px;
}
#homemissions .mission_box_details {
    /*-webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;*/

    background-repeat: no-repeat !important;
    height: 100%;
    min-height: 280px;
    text-align: center;
    width: 33.333%;
    float: left;
    padding: 65px 30px 55px 30px;
    border-radius: 0px;
}
#homemissions .mission_box_details:nth-child(2) {
}
/*Single Mission*/
.get-app a {
    background-color: #ADC234;
    color: #31333f;
    padding: 5px 10px;
    text-align: center;
    width: auto;
    display: block;
}
.single_mission_bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.single-mission-header {
    background-color: #31333f;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}
.single-mission-header .video-bar {
    border-radius: 0px;
}
.single-mission-header div[class^="col-"],
.single-mission-header div[class*="col-"] {
padding-right: 0px;
padding-left: 0px;
}
.single-mission-info {
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgba(49,51,63,0.9);
    height: 100%;
    min-height: 448px;
}
.single-mission-info p {
    font-size: 15px;
    margin: 0px;
}

.mission-specs {
    position: relative;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
    clear: both;
    height: auto;
    list-style: none;
    background-color: rgba(0,0,0,0.2);
    padding-left: 0px;
    overflow: visible;
    margin-bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    color: #a7a9ac;
    border-top: 1px solid #333;
}
.mission-specs li {
    padding: 10px 0px;
    float: left;
    text-align: center;
    border-left: 1px solid #333;
}
.mission-specs li:nth-child(1),
.mission-specs li:nth-child(2) {
    width:50%;
    
}
.mission-specs li:nth-child(3),
.mission-specs li:nth-child(4) {
    float: none; 
    width:100%;
    text-align: center;
    border-top: 1px solid #333;
    border-left: 0px;
    clear: both;
}
.mission-specs li:first-child {
    border-left: 0px;
}
.mission-specs li span {
    font-size: 20px;
    vertical-align:middle;
}
/*User Profile*/
.userprofile-cover {
    min-height: 220px;
    background: url(../img/cover-illustration.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;
}
.userprofile-cover h1 {
    color: #ADC234;
}
.userflag {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 20px;
    width: 30px;
    height: 30px;
}
.user-specs {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
    background: rgba(23,23,29,0.6);
    clear: both;
    height: auto;
    list-style: none;
    padding-left: 0px;
    overflow: visible;
    margin-bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    color: #a7a9ac;
}
.user-specs li {
    padding: 10px 0px;
    float: left;
    width: 25%;
    text-align: center;
    border-left: 1px solid #050506;
}
.user-specs li span {
    font-size: 20px;
    vertical-align:middle;
}
.videogrid .video-thumb {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.videogrid .video-thumb:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.videogrid .video-thumb-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.videogrid .video-thumb-overlay {
    text-align: center;
    background-color: rgba(23,23,29,0.9);
    height: 100%;
    padding-top: 17%;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.videogrid a:hover {
    text-decoration: none;
} 
.videogrid .video-thumb-overlay:hover {
    opacity: 1;
}
.videogrid .video-thumb-overlay span {
    font-size: 38px;
    color: #a7a9ac;
}
.videogrid .video-thumb-overlay .icon-play_video {
    font-size: 68px;
    color: #abc234;
}
.video-grid-desc {
    background: #272832;
    margin-top: -6px;
    margin-bottom: 10px;
    border-radius: 0 0 4px 4px;
    padding: 8px 10px;
}
.video-grid-desc h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.center {
    text-align: center;
}


/*
Main Layout structure
==================================================================================================================
*/

#wrapper {
    padding-top: 82px;
    padding-left: 0;
}
#wrapper.toggled {
    padding-left: 300px;
}
#wrapper_page {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background-color: #272832;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-bottom: 50px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    opacity: 0.3;
}

.sidebar-nav li:hover {
    opacity: 1;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.socket {
    background:#303340; 
    color:#999; 
    text-align:right; 
    padding:15px 15px 8px 15px; 
    font-size:12px;
    bottom: 0px;
    position: fixed;
    width:100%;
    margin-top: 30px;
}
.admin-page {
    padding-top: 90px;
}

/*
Form elements
==================================================================================================================
*/
.tiny label {
    font-size: 100%;
}
.tiny span {
    font-size: 50%;
}
.tinybox {
    width: 250px !important;
    margin-right: 0px;
}



.mission_line {
    border-bottom-style: solid;
    border-bottom-color: #31333f;
}
.admin_box {
    max-width: 80%;
}


#overlaybkg {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black center center no-repeat;
    opacity: .7;
}
/* spinner */
#overlay {
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7)  center center no-repeat;
}
#spinner {
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
    top: 50%;
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

#spinner div {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.5em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
      -ms-transform-origin: center -0.2222em;
          transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
          animation: spinner-fade 1s infinite linear;
}
#spinner div:nth-child(1) {
    -webkit-animation-delay: 0s;
          animation-delay: 0s;
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
#spinner div:nth-child(2) {
    -webkit-animation-delay: 0.083s;
          animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
#spinner div:nth-child(3) {
    -webkit-animation-delay: 0.166s;
          animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
#spinner div:nth-child(4) {
  -webkit-animation-delay: 0.249s;
          animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
#spinner div:nth-child(5) {
    -webkit-animation-delay: 0.332s;
          animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
#spinner div:nth-child(6) {
    -webkit-animation-delay: 0.415s;
          animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
#spinner div:nth-child(7) {
    -webkit-animation-delay: 0.498s;
          animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#spinner div:nth-child(8) {
    -webkit-animation-delay: 0.581s;
          animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
#spinner div:nth-child(9) {
    -webkit-animation-delay: 0.664s;
          animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
#spinner div:nth-child(10) {
    -webkit-animation-delay: 0.747s;
          animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
#spinner div:nth-child(11) {
    -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
#spinner div:nth-child(12) {
    -webkit-animation-delay: 0.913s;
          animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
    0% {
        background-color: #69717d;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes spinner-fade {
    0% {
        background-color: #69717d;
    }
    100% {
        background-color: transparent;
    }
}
/*
Home page spesific
==================================================================================================================
*/

.section {
    padding: 100px 0px;
}

.section_icon {
    padding: 40px 0;
}

.section_footer {
    padding: 40px 0;
}

#iconmission {
    background-color: none;
    background: none;
}

#footermain {
    background-color: #414655;
    padding-top: 70px;
    padding-bottom: 130px;
}

.active-section {
    top: 80px;
}

.navbar.active-section {
    top: 0 !important;
}
#hero {
    background: url('../img/wb-hero.jpg') right center no-repeat;
    background-size: auto 100%;
    background-color: #12121c;
    height: 100%;
    color: #fff;
    margin-top: 0px;
    padding: 0px;
    padding-top: 100px;
    min-height: 700px;
    overflow: visible !important;
}
#hero img {
    z-index: 100;
    position: relative;
    margin-bottom:-287px;
}

#hero .lp-element {
    height: 100%;
    padding: 70px 50px;
    background-color: rgba(255, 255, 255, 0);
}

#hero h1 {
    font-size: 60px;
    -webkit-font-smoothing: antialiased;
}

#hero p.lead {
    font-size: 1.8em;
}
#features {
    background-color: rgba(41, 43, 53, 0.9);
    text-align: center;
}
#features h3 {
    color: #abc234
}
.sosialicons li {
    list-style: none;
    float: left;
    margin: 16px 5px;
}

.sosialicons li a {
    color: #2f3846;
}

.sosialicons {
    padding-left: none;
}

.facebook_link:hover {
    color: #3b5998 !important;
}

.twitter_link:hover {
    color: #00aced !important;
}

.instagram_link:hover {
    color: #517fa4 !important;
}

.youtube_link:hover {
    color: #bb0000 !important;
}

ul {
    padding: 0px;
}

/*
Media query
==================================================================================================================
*/


@media(min-width:1040px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px 10px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .faqbox {
        width: 48%;
    }
}

@media(min-width:1200px) {
    .faqbox {
    width: 31%;
    margin-left: 2%;
    margin-bottom: 15px;
    float: left;
    }
}

@media(max-width:1030px) {
    body {
        font-size: 16px;
    }
    #page-content-wrapper {
        padding: 0px;
    }
    #page-content-wrapper  .col-lg-9 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .main-content {
        padding: 0px 15px;
    }
    .video-bar {
        padding: 4px 10px;
        border-radius: 0;
    }
    .well {
        background: transparent;
    }
    .userprofile-cover {
        border-radius: 0;
        margin-left: -15px;
        margin-right: -15px;
        background: url(../img/cover-illustration.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .video-side {
        border-radius: 0;
    }
    .videoWrapper {
        border-radius: 0px;
    }
    .comments {
        border-top: 1px solid #22242c;
        padding-top: 10px;
    }
     .faqbox {
        width: 48%;
    }
    .socket {
        font-size:11px;
        position: static;
        box-sizing:border-box;
        clear: both;
        text-align: left;
    }
}

@media(max-width: 760px) {
    .navbar {
        min-height: 30px;
    }
    .navbar-toggle {
        padding: 0px;
        margin-top: 20px;
    }
    .navbar-brand {
        height: auto;
        padding: 15px;
    }
    .navbar-brand img {
        width: 90px;
    }
    #wrapper {
        padding-top: 54px;
    }

    #sidebar-wrapper {
        z-index: -999 !important;
    }
    .cover-illustration {
        display: none;
    }
    .userprofile-cover {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .userprofile-cover p {
        font-size: 12px;
    }
    .userflag {
        right: 10px;
        bottom: 5px;
        width: 20px;
        height: 20px;
    }
    .userprofile-cover h1 {
        margin-top: 0px;
    }
    .faqbox {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .modal-dialog {
        margin: 0;
    }
    #hero {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #hero h1 {
        font-size: 50px;
    }
    #hero p.lead {
        font-size: 1.2em;
    }
    #hero .btn {
        margin-top: 8px;
    }
    .missionbox {
        width: 100%;
        margin-left: 0;
        margin-top: 0px;
        float: left;
        text-align: left;
        padding: 0px;
        cursor: pointer;
        background-size: 100% auto;
    }
    .mission_details {
        border-radius: 0px;
        margin-bottom: 1px;
    }
    .single-mission-header {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0px;
    }
    .single-mission-info {
        padding: 20px;
    }
    .mission-specs li:nth-child(1),
    .mission-specs li:nth-child(2) {
        width:50%;
        border-bottom: 1px solid #333;
    }
    .mission-specs li:nth-child(3),
    .mission-specs li:nth-child(4) {
        float: none; 
        width:100%;
        text-align: center;
        clear: both;
    }
    .mission_country {
        border-radius: 0px;
        margin-bottom: 1px;
    }
    #homemissions .mission_box_details {
        text-align: center;
        width: 100%;
        float: none;
        padding: 65px 30px 55px 30px;
        border-radius: 0px;
    }
    p.center {
        margin-top: 20px;
    }


}
@media(min-width: 410px) {
    .userprofile-cover {
        min-height: 280px;
    }
    .userflag {
        right: 10px;
        bottom: 5px;
        width: 40px;
        height: 40px;
    }
}

/*
Icon fonts
==================================================================================================================
*/

@font-face {
    font-family: 'icomoon';
    src:url('../font/icomoon.eot?-xmrf3p');
    src:url('../font/icomoon.eot?#iefix-xmrf3p') format('embedded-opentype'),
        url('../font/icomoon.woff?-xmrf3p') format('woff'),
        url('../font/icomoon.ttf?-xmrf3p') format('truetype'),
        url('../font/icomoon.svg?-xmrf3p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.icon-random:before {
    content: "\e604";
}
.icon-play:before {
    content: "\e600";
}
.icon-following:before {
    content: "\e601";
}
.icon-star:before {
    content: "\e602";
}
.icon-latest:before {
    content: "\e603";
}
.icon-popular:before {
    content: "\e605";
}
.icon-search:before {
    content: "\e606";
}
.icon-banana:before {
    content: "\e607";
}
.icon-shit:before {
    content: "\e608";
}
.icon-home:before {
    content: "\e609";
}
.icon-faq:before {
    content: "\e60a";
}
.icon-banana_count:before {
    content: "\e60b";
}
.icon-shit_count:before {
    content: "\e60c";
}
.icon-comments:before {
    content: "\e60d";
}
.icon-gorilla_inv:before {
    content: "\e60e";
}
.icon-gorilla:before {
    content: "\e60f";
}
.icon-delete:before {
    content: "\e610";
}
.icon-flag:before {
    content: "\e611";
}
.icon-comment:before {
    content: "\e612";
}
.icon-view_count:before {
    content: "\e613";
}
.icon-share:before {
    content: "\e614";
}
.icon-options:before {
    content: "\e615";
}
.icon-globe:before {
    content: "\e617";
}
.icon-main_feed:before {
    content: "\e618";
}
.icon-missions:before {
    content: "\e619";
}
.icon-camera:before {
    content: "\e61a";
}
.icon-tv:before {
    content: "\e61b";
}
.icon-profile:before {
    content: "\e61c";
}
.icon-profile_guest:before {
    content: "\e61d";
}
.icon-arrow_back:before {
    content: "\e61e";
}
.icon-arrow_down:before {
    content: "\e61f";
}
.icon-arrow_forward:before {
    content: "\e620";
}
.icon-play_video:before {
    content: "\e616";
}
.icon-trophy:before {
    content: "\e621";
}
.icon-followers:before {
    content: "\e622";
}
.icon-rules:before {
    content: "\e623";
}


