@import url('../font/font.css');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
body {background: #31333f; color: #dedede; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 17px; text-align: left;}
h1,h2,h3,h4,h5,h6 {text-transform: uppercase; font-family: 'League Gothic';}
h1 {font-size: 56px;}
h2 {font-size: 39px;}
a, a:hover {color:#fff;}
.right {text-align: right;}
.left {text-align: left;}
.btn {font-family: 'League Gothic'; font-size: 22px; margin-top: 5px;}

/*hero*/

@-webkit-keyframes wave {
	0% {-webkit-transform:rotate(-6deg);}
	50% {-webkit-transform:rotate(3deg);}
	100% {-webkit-transform:rotate(-6deg);}
}
 
@-moz-keyframes wave {
	0% {-moz-transform:rotate(-6deg);}
	50% {-moz-transform:rotate(3deg);}
	100% {-moz-transform:rotate(-6deg);}
}
 
@keyframes wave {
	0% {transform:rotate(-6deg);}
	50% {transform:rotate(3deg);}
	100% {transform:rotate(-6deg);}
}
 
.wave {
	-webkit-animation: wave 0.8s infinite;
	-moz-animation: wave 0.8s infinite;
	animation: wave 0.8s infinite;
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	transform-origin: bottom left;
	position: absolute;
	z-index: 1;
	width: 200px;
	left:180px;

}

.hyvis-guy {
	position: relative;
	z-index: 4;
}

.hero {
	background: #CD554A;
	color: #dedede;
	padding-top: 25px;
}
.hero-hyvis2 {
	background-image: url(../img/hyvis/hyvis-hero.jpg);
	background: url(../img/hyvis/hyvis-hero.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #dedede;
	padding-top: 25px;
	background-color: #199dcd;
}

.hero .btn-primary {
	background: rgba(0,0,0,0.4);
	color: #fff;
	text-transform: uppercase;
	border-radius: 40px;
	border: 0px;
	padding: 10px 39px;
	border-color: #fff;
}

.hero h1 {margin-top: 110px; margin-bottom: 0px;} 
.hero h2 {margin-top: 120px;} 
.herotxt {font-size: 18px; margin-bottom: 30px; color: #083444; font-weight: normal;}

.about {margin-top: -390px; padding-top: 390px; background: #31333f; text-align: center;}
.missiontxt {margin-top: 40px;}
.missiontxt img {width: 70%; height: auto; margin-left: auto; margin-right: auto; display: block;}
.logos {background: #fff; padding: 100px 0 150px 0; margin-top: 100px; color: #31333f; text-align: center;}
.logos p {margin-bottom: 50px;}
.vcenter {
	display: -webkit-flex;
    display: flex;
    align-items: center;
       -webkit-flex-direction: row;
   flex-direction: row;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	body, .hero, .right {text-align: center;}  
	.hero {padding-bottom: 30px;}
	.hero h1, h1 {font-size: 40px; margin-top: 30px;}
	.hero h2, h2 {margin-top: 50px; font-size: 34px;} 
	.herotxt {font-size: 18px; margin-bottom: 30px;}
	.missiontxt img {width: 50%; margin-top: 40px;} 
	.logos img {width:50%; margin-top: 30px; margin-left: auto; margin-right: auto; display: block;}
	.about {margin-top: 0px; padding-top: 0px;}
	.vcenter {
		display: -webkit-flex;
    display: flex-column;
    align-items: center;
       -webkit-flex-direction: column;
   flex-direction: column;
}

}

